#design {
  text-align: left;
  background-image: none;
  color: #6F6F6F;
}

.top {
  line-height: 30px;
}

.top .right {
  padding-top: 60px;
}

#mission {
  background-color: #063E86;
  background-image: url(../img/menu-lines.png);
  animation: animatedBackground 20s linear infinite;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #fff;
  background-size: 120% auto;
}

#mission h1,#mission h2,#mission h3,#mission h4,#mission h5,#mission h6 {
  color: #D1D5DB;
}

#principles {
  padding: 60px 12px;
}

#projects {
  background-color: transparent;
  text-align: left;
  color: #6F6F6F;
  padding: 0 12px;
  margin: 80px 0 0;
}

#projects .tab {
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#projects .tab {
  position: absolute;
  top: -100px;
  width: 55%;
  background-color: #EFEFF4;
  font-size: 28px;
  height: 100px;
}

#projects .tab.right {
  position: absolute;
  right: 0;
}

#projects .tab.active {
  z-index: 1;
}

#projects .tabcontents .content {
  font-size: 18px;
}

.bluebox {
  padding-right: 30px;
}

.bluebox p {
  font-size: 14px;
}

.bluebox img {
  margin-bottom: 10px;
}

#arrows {
  animation: spinr 15s linear infinite;
  position: absolute;
  left: -30px;
  top: 30px;
}

.top .right {
  font-size: 15px;
  padding-top: 120px;
}

@media only screen and (max-width: 1366px) {
  .top .right {
    padding-top: 70px;
  }
}

@media only screen and (max-width: 991px) {
  #arrows {
    top: 50px;
  }
}

@media only screen and (max-width: 767px) {

  #projects .tabcontents {
    text-align: center;
  }

  #projects .tabcontents img {
    max-width: 100px;
    margin-bottom: 20px;
  }

  #projects .tab {
    font-size: 20px;
  }

  .top .right {
    padding-top: 10px;
  }

  .top .relative {
    padding: 0 50px;
  }
  #arrows {
    left: 8%;
    width: 80%;
  }
}
