#design {
  background-image: none;
}

.right {
  padding-top: 120px;
}

#mission {
  padding: 60px 0;
  background-color: #EFEFF4;
  text-align: center;
  animation: animatedBackground 20s linear infinite;
  background-image: url(../img/about/lines.png);
  background-position: -870px center;
  background-repeat: no-repeat;
}

#mission p {
  color: #6F6F6F;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}


#mission .heading {
  text-align: left;
}

#principles {
  margin-top: 30px;
}

#principles h1.heading {
  margin-top: 160px;
  font-size: 34px;
}

.bluebox {
  background-color: #063E86;
  padding: 30px 40px 60px;
  color: #fff;
  border-radius: 20px;
  text-align: center;
}

.bluebox h3, .bluebox p {
  color: #fff !important;
  text-align: left;
  font-size: 24px;
}

.bluebox h3 {
  text-transform: capitalize;
}

.bluebox p {
  font-size: 14px !important;
}

.bluebox img {
  margin-bottom: 20px;
}

.imgtxt .right .box {
  display: block;
  position: absolute;
  width: 480px;
  height: 500px;
  background-image: url(../img/structures/lines.png);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 50%;
  margin-left: -225px;
  animation: spin 30s linear infinite;
}

.imgtxt .leftcopy {
  text-align: left;
  padding-top: 40px;
}

.bluebx {
  background-color: #053D88;
  font-family: 'Handel Gothic D';
  color: #fff;
  font-weight: bold;
  padding: 30px;
  border-radius: 20px;
  font-size: 40px;
  padding-left: 560px;
  width: 1169px;
  box-sizing: border-box;
  margin-left: -560px;
  margin-bottom: 20px;
  line-height: 40px;
}

.imgtxt .right {
  padding-top: 0;
}

.imgtxt .right img {
  max-width: 400px;
  position: relative;
  width: 100%;
  top: 40px;
}

@media only screen and (max-width: 1200px) {
  .bluebx {
    font-size: 20px;
    padding-left: 560px;
    width: 980px;
  }
}

@media only screen and (max-width: 991px) {
  #principles h1.heading {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 34px;
  }
  .bluebox {
    padding: 30px 20px 30px;
    margin-bottom: 30px;
  }
  .bluebox h3, .bluebox p {
    text-align: center;
  }

  .floatingimg {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .bluebx {
    font-size: 20px;
    padding-left: 30px;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}

