.imgtxt {
  padding-left: 0;
  padding-right: 0;
  max-width: 1800px;
}

.imgtxt p {
  max-width: 900px;
}

#design {
  padding: 60px 0;
  background-color: #EFEFF4;
  text-align: center;
  animation: animatedBackground 20s linear infinite;
  background-image: url(../img/about/lines.png);
  background-position: -870px center;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.wrap {
  text-align: center;
}

.boxes {
  margin-bottom: 20px;
  max-width: 1600px;
  display: inline-block;
  width: 100%;
}

.boxes .box {
  background-color: #fff;
  border-radius: 20px;
  width: 20%;
  margin: 0 1%;
  display: inline-block;
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  transition: width 300ms;
}

.boxes .box:hover {
  width: 50%;
}

.conts {
  background-color: #053D88;
  color: #fff;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding: 50px 30px;
  top: 0;
  left: 0;
  display: none;
  font-size: 14px;
}

.box:hover .conts {
  display: block;
}

.box:hover .conts a {
  color: #fff !important;
}

.seemore {
  float: none;
  background-image: url(../img/awards/seemore-arrow.png);
}

@media only screen and (max-width: 1360px) {
  .conts {
    padding: 30px;
  }
  .boxes .box {
    padding: 90px 30px;
  }
}

@media only screen and (max-width: 1200px) {

  .boxes .box img,.boxes .box img:hover {
    width: 100%;
  }

  .boxes .box img {
    max-width: 106px;
  }
}

@media only screen and (max-width: 991px) {

  .boxes .box, .boxes .box:hover {
    width: 100%;
    padding: 40px 30px;
    margin-bottom: 30px;
  }

  .boxes .conts p {
  }

  .boxes .box img,.boxes .box img:hover {
    width: 100%;
  }

  .boxes .box img {
    max-width: 190px;
  }

  .conts {
    display: block;
    margin-top: 30px;
    position: relative;
    border-radius: 20px;
  }
}
