#design {
  position: relative;
  text-align: center;
  padding: 60px 0;
  background-image: url('../img/contact/lines.png');
  background-position: -730px center ;
  background-repeat: no-repeat;
  overflow: hidden;
  animation: animatedBackground 20s linear infinite;
  min-height: 90vh;
}

#design .left {
  position: relative;
}

.imgtxt {
  padding: 30px 60px;
  display: inline-block;
  max-width: 1400px;
}

.imgtxt .left {
  text-align: center;
  padding: 60px 0;
}

.imgtxt .left .box {
  display: block;
  position: absolute;
  width: 500px;
  height: 100%;
  background-image: url('../img/structures/lines.png');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 50%;
  margin-left: -250px;
  animation: spin 30s linear infinite;
}

.imgtxt .left img {
  max-width: 400px;
  position: relative;
  width: 100%;
}

.imgtxt .right {
  text-align: left;
  padding-left: 60px;
  padding-top: 80px;
}

.imgtxt .heading {
  font-size: 85px;
  line-height: 80px;
  font-weight: bold;
  margin-bottom: 20px;
}

form input[type=text],form input[type=email] {
  background-color: #EFEFF4;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 0;
  margin-bottom: 15px;
  height: 50px;
  line-height: 50px;
  border: 0;
}

form textarea {
  background-color: #EFEFF4 !important;
  padding: 20px 20px !important;
  font-size: 14px !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  height: 150px !important;
  border: 0 !important;
  resize: none;
}

input[type="submit"] {
    border: 0;
    background-color: transparent;
}

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 991px) {
  .imgtxt .left .box {
    width: 140%;
    top: -70px;
    left: 70%;
  }
  .imgtxt .heading {
    font-size: 65px;
    line-height: 70px;
  }
}

@media only screen and (max-width: 767px) {
  .imgtxt .left .box {
    width: 500px;
    top: 0;
    left: 50%;
    margin-left: -250px;
    animation: spin 30s linear infinite;
  }
  .imgtxt .right {
    text-align: center;
    padding-top: 20px;
  }

  .imgtxt .heading {
    margin-bottom: 20px;
  }

  #design {
    overflow: hidden;
  }

  .imgtxt .right {
    padding-left: 0;
  }


}

@media only screen and (max-width: 576px) {

  .imgtxt .heading {
    font-size: 45px;
    line-height: 50px;
  }

  .imgtxt {
    padding: 30px;
  }
}
