/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #6F6F6F;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1050px, 0, 0);
        /* The image width */
    }
}

@keyframes slideleftright {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(-100px, 0, 0);
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
}

@keyframes animatedBackground {
  0% {
    background-position: -730px 30%;
  }
  50% {
    background-position: -530px 30%;
  }
  100% {
    background-position: -730px 30%;
  }
}

@keyframes slidelines {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-200%, 0, 0);
        /* The image width */
    }
}

.slide-in-top{-webkit-animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both}
.slide-in-top-long{-webkit-animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both .1s;animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both .1s}
@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.slide-in-left{-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both}
.slide-in-left2{-webkit-animation:slide-in-left 1.5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-left 1.5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

.slide-in-right{-webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both}
.slide-in-right2{-webkit-animation:slide-in-right 1.5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-right 1.5s cubic-bezier(.25,.46,.45,.94) both}

@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

.slide-in-bottom{-webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.rotate-in-2-cw{-webkit-animation:rotate-in-2-cw .5s cubic-bezier(.25,.46,.45,.94) both;animation:rotate-in-2-cw .5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes rotate-in-2-cw{0%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}@keyframes rotate-in-2-cw{0%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


h1,h2,h3,h4,h5,h6 {
  font-family: 'Handel Gothic D';
  color: #003D89;
  text-transform: uppercase;
}


body {
  font-family: Arial;
  font-size: 16px;
}


.relative {
  position: relative;
}

#toptexts {
    height: 26px;
    width: 100%;
    top: 0;
    z-index: 2;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: #fff;
    overflow: hidden;
    padding: 5px 0;
}

#toptexts span {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

#toptexts span {
    background-image: url(../img/tagline.png);
    background-position: left center;
    background-repeat: repeat-x;
    background-size: auto 14px;
    animation: slide 24s linear infinite;
    width: 3000px;
    max-width: 3000px;
}

#header {
  background-color: #D2D6DB;
  padding: 20px 0;
}

#header.active .bar {
  background-color: #fff;
}

#header.active #mainMenu {
  display: block;
}

#mainlogo {
  height: 70px;
  width:  205px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url('../img/main-logo.png');
  display: block;
  position: relative;
  z-index: 10;
}

#header.active #mainlogo {
  background-image: url('../img/main-logo-white.png');
}

#mainMenu {
    height: 100vh;
    background-color: #1D3A86;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding-top: 140px;
    padding-bottom: 50px;
    display: none;
    overflow: hidden;
}

#mainMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainMenu .lines {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url(../img/menu-lines.png);
  background-repeat: no-repeat;
  top: -140px;
  background-size: auto 100%;
  /*animation: slideleftright 30s linear infinite;*/
}

#mainMenu ul li {
  text-align: right;
  margin: 5vh 0;
  position: relative;
  transition: padding 300ms;
}

#mainMenu ul li:after {
  content: '';
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: -2vh;
}

#mainMenu ul li:hover {
  padding-right: 20px;
}

#mainMenu ul li:last-of-type:after {
  height: 0;
}


#mainMenu ul li a {
  color: #fff;
  font-size: 40px;
  text-decoration: none !important;
  text-transform: uppercase;
  font-family: 'Handel Gothic D';
}

#mainMenu ul li a {
  color: #fff;
  font-size: 40px;
  text-decoration: none !important;
  text-transform: uppercase;
  font-family: 'Handel Gothic D';
}

#menubtcontainer {
  display: inline-block;
  cursor: pointer;
  float: right;
  height: 70px;
  padding: 20px 0;
  box-sizing: border-box;
  z-index: 10;
  position: relative;
}

#menubtcontainer .bar1, #menubtcontainer .bar2, #menubtcontainer .bar3 {
  width: 25px;
  height: 3px;
  background-color: #053D88;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

/* Rotate first bar */
#menubtcontainer.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
#menubtcontainer.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
#menubtcontainer.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -4px);
  transform: rotate(45deg) translate(-7px, -4px);
}

#homebanner {
  overflow: hidden;
  position: relative;
}


#homebanner .lines {
  background-image: url(../img/a-lines.png);
  background-position: -500px center ;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: slideleftright 10s linear infinite;
}

#intro {
  overflow: hidden;
}

#intro .copy {
  padding: 130px 0 60px;
}

#intro .heading {
  font-size: 44px;
  line-height: 50px;
}


#homecube {
    width: 800px;
    position: absolute;
    left: -160px;
    top: -130px;
}

#history {
  background-color: #EFEFF4;
  padding: 60px 0;
}

#history .left {
  display: block;
  width: 45%;
  float: left;
}

#history .right {
  display: block;
  width: 55%;
  float: right;
}

#history .copy {
  padding-left: 35px;
  height: 357px;
  color: #6F6F6F;
  font-size: 16px;
  line-height: 26px;
}

#history .copy .head {
  margin-top: 0;
  font-size: 74px;
  line-height: 50px;
  margin-bottom: 30px;
}

#history .date {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 350px;
  line-height: 250px;
  font-family: 'Handel Gothic D';
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}

.seemore {
    background-image: url(../img/seemore-arrow.png);
    display: inline-block;
    min-width: 140px;
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 30px;
    background-size: 100% auto;
    float: right;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    margin-top: 30px;
    box-sizing: border-box;
    transition: padding-left 300ms;
}

.seemore:hover, #seemore .link:hover {
    padding-left: 10px;
}

#seemore .link {
    background-image: url(../img/seemore-blue.png);
    display: inline-block;
    min-width: 140px;
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 30px;
    background-size: 100% auto;
    float: right;
    font-size: 14px;
    text-decoration: none;
    font-weight: bolder;
    color: #405E9D;
    margin: 0;
  transition: padding-left 300ms;

}


#seemore {
  padding: 60px 0;
}

#footer {
  background-color: #003D89;
  padding: 30px;
  color: #fff;
}

#footer .copyright {
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;
}

#footer a {
  color: #fff;
  text-decoration: none !important;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
    margin-top: 20px;
}

#footer ul li {
  display: inline-block;
  margin-left: 50px;
}

#footer .socials {
  text-align: right;
    margin-top: 15px;
}

#footer .socials a {
  font-size: 30px;
  display: inline-block;
  margin-left: 50px;
}

#footer .socials a:first-of-type {
  margin-left: 0;
}

#footer .tiny-links {
  text-align: right;
  margin-top: 5px;
}

#footer .tiny-links a {
  font-size: 12px;
  margin-left: 20px;
}

.slick-arrow {
  background-color: #003C88;
  height: 50px;
  width: 50px;
  position: absolute;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7px auto;
  z-index: 1;
  cursor: pointer;
}

.slick-arrow:hover {
  background-color: #3F5D9C;
}

.slick-arrow.slick-next {
  right: 0;
  bottom: 0;
  background-image: url('../img/arrow-right.png');
}

.slick-arrow.slick-prev {
  right: 50px;
  bottom: 0;
  background-image: url('../img/arrow-left.png');
}

#footerlogo {
  display: inline-block;
}

@media only screen and (min-width: 1400px) {
  #history .copy {
    height: 414px;
  }
}


@media only screen and (max-width: 1200px) {
  #homecube {
    left: -230px;
  }

  #intro .heading {
    font-size: 34px;
    line-height: 40px;
  }

  #history .copy .head {
    margin-top: 0;
    font-size: 54px;

  }
  #history .date {
    font-size: 200px;
    line-height: 140px;

  }

  #history .copy {
    line-height: 22px;
    height: 428px;
  }

  #history .left {
    width: 55%;
  }

  #history .right {
    width: 45%;
  }

  #footer ul li {
    margin-left: 10px;
  }
}


@media only screen and (max-width: 991px) {

  #sideCar {
    display: none;
  }

  #homecube {
    width: 460px;
    position: absolute;
    left: -70px;
    top: -40px;
  }

  #intro .copy {
    padding: 180px 0 60px;
  }

  #footer ul li {
    margin-left: 0;
    width: 100%;
  }

  #mainlogo {
    height: 50px;
    width: 155px;
  }

  #menubtcontainer {
    height: 50px;
  }

  #menubtcontainer {
    height: 50px;
    padding: 10px 0;
  }

  #footerlogo img {
      height: 50px;
  }

  #footer .tiny-links a {
    width: 100%;
    margin-left: 0;
    display: inline-block;
  }
}


@media only screen and (max-height: 620px) {
  #mainMenu {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 767px) {
  #homecube {
    width: 100%;
    right: -40px;
    top: -40px;
    position: relative;
    left: 0;
  }

  #intro .copy {
    padding: 0 0 60px;
    margin-top: -100px;
  }

  #history .left, #history .right {
    width: 100%;
  }

  #history .copy {
    padding: 0;
    margin-top: 30px;
    height: auto;
  }

  #footer {
    text-align: center;
  }

  #footer ul li, #footer .socials, #footer .tiny-links {
    text-align: center;
  }

  #footer .tiny-links a, #footer ul li a {
    margin: 0 10px;
  }

  #intro .copy {
    padding-left: 15px;
    padding-right: 15px;
  }

  #footerlogo img {
      margin-bottom: 20px;
  }

  #footer .tiny-links a, #footer ul li a {
      margin: 0;
  }

}

@media only screen and (max-width: 520px) {

  #mainMenu ul li {
    text-align: center;
  }
  #mainMenu ul li:after {
    content: '';
    width: 20%;
    right: 40%;
  }

  #menubtcontainer {
    padding: 0;
    height: 30px;
  }

  #mainlogo {
    height: 30px;
    width: 205px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-image: url(../img/main-logo.png);
    display: block;
    position: relative;
    z-index: 10;
  }
}


@media only screen and (max-width: 567px) {
  #mainMenu ul li a {
    font-size: 20px;
  }
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

@-moz-keyframes spinr {
  100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spinr {
  100% { -webkit-transform: rotate(-360deg); }
}
@keyframes spinr {
  100% {
    -webkit-transform: rotate(-360deg);
    transform:rotate(-360deg);
  }
}




























/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}



