#diagram {
  padding: 60px 0 0 0;
  background-color: #EFEFF4;
  text-align: center;
  animation: animatedBackground 20s linear infinite;
  background-image: url(../img/contact/lines.png);
  background-position: -870px center;
  background-repeat: no-repeat;
}

#diagram .copy {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 15%;
}

#diagram .heading {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 30px;
}

#diagram p {
  font-size: 18px;
  line-height: 26px;
}

#cube li .line {
  display: none;
}

#cube li:hover .line {
  display: block;
}

.line-1 {
  position: absolute;
  width: 140px;
  height: 2px;
  background-color: #013e89;
  right: -130px;
  top: 30px;
}

.line-2 {
  position: absolute;
  width: 2px;
  height: 95px;
  background-color: #013e89;
  right: 0px;
  top: 0px;
}

.line-3 {
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #013e89;
  right: -40px;
  top: 35px;
}

.line-4 {
  position: absolute;
  width: 2px;
  height: 60px;
  background-color: #013e89;
  right: 0px;
  top: 0px;
}

.line-5 {
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #013e89;
  right: -48px;
  top: 60px;
}

.line-6 {
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #013e89;
  right: -90px;
  top: 36px;
}

.line-7 {
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #013e89;
  right: -40px;
  top: 35px;
}

.line-8 {
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #013e89;
  right: 0px;
  top: 0px;
}

.line-9 {
  position: absolute;
  width: 130px;
  height: 2px;
  background-color: #013e89;
  right: -128px;
  top: 20px;
}

.line-10 {
  position: absolute;
  width: 130px;
  height: 2px;
  background-color: #013e89;
  left: -120px;
  top: 33px;
}

.line-11 {
  position: absolute;
  width: 130px;
  height: 2px;
  background-color: #013e89;
  left: -120px;
  top: 33px;
}

.line-12 {
  position: absolute;
  width: 130px;
  height: 2px;
  background-color: #013e89;
  left: -120px;
  top: 33px;
}

#cube {
  text-align: center;
  position: relative;
}

#cube ul {
  position: absolute;
  text-align: left;
  list-style: none;
  top: 30px;
  padding-left: 0;
}

#cube ul li {
  height: 70px;
  margin: 20px 0;
  width: 300px;
  position: relative;
}

#cube ul li span {
  width: 68%;
  display: inline-block;
  vertical-align: middle;
}

#cube ul li {
  text-align: left;
  font-weight: bold;
  color: #C3C3C3;
}

#cube .left {
  left: 0;
}

#cube .left li {
  text-align: right;
}

#cube .right {
  right: 0;
  margin-top: 60px;
}

#cube .right li {
  text-align: left;
}

#cube li:hover {
  cursor: pointer;
}

#cube .icon {
  display: inline-block;
  height: 70px;
  width: 30%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

#cube .left .icon {
}

#cube .right .icon {
}

.icon.arts {
  background-image: url('../img/structures/arts.png');
}

.icon.ceilings {
  background-image: url('../img/structures/ceilings.png');
}

.icon.doors {
  background-image: url('../img/structures/doors.png');
}

.icon.exterior {
  background-image: url('../img/structures/exterior.png');
}

.icon.cladding {
  background-image: url('../img/structures/claddings.png');
}

.icon.stairs {
  background-image: url('../img/structures/stairs.png');
}

.icon.balustrades {
  background-image: url('../img/structures/balustrades.png');
}

.icon.arts:hover {
  background-image: url('../img/structures/arts-active.png');
}

.icon.ceilings:hover {
  background-image: url('../img/structures/ceilings-active.png');
}

.icon.doors:hover {
  background-image: url('../img/structures/doors-active.png');
}

.icon.exterior:hover {
  background-image: url('../img/structures/exterior-active.png');
}

.icon.cladding:hover {
  background-image: url('../img/structures/claddings-active.png');
}

.icon.stairs:hover {
  background-image: url('../img/structures/stairs-active.png');
}

.icon.balustrades:hover {
  background-image: url('../img/structures/balustrades-active.png');
}

#design {
  position: relative;
  text-align: center;
  padding: 60px 0;
}

#design .left {
  position: relative;
}

.imgtxt {
  padding: 30px 60px;
  display: inline-block;
  max-width: 1400px;
}

.imgtxt .left {
  text-align: center;
  padding: 60px 0;
}

.imgtxt .left .box {
  display: block;
  position: absolute;
  width: 500px;
  height: 100%;
  background-image: url('../img/structures/lines.png');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 50%;
  margin-left: -250px;
  animation: spin 30s linear infinite;
}

.imgtxt .left img {
  max-width: 400px;
  position: relative;
  width: 100%;
}

.imgtxt .right {
  text-align: left;
  padding-left: 60px;
  padding-top: 60px;
}

.imgtxt .heading {
  font-size: 75px;
  line-height: 80px;
  font-weight: bold;
  margin-bottom: 15px;
}

#projects {
  background-color: #EFEFF4;
  padding: 60px 0;
  text-align: center;
}

#projects .heading {
  font-size: 65px;
  line-height: 80px;
  font-weight: bold;
  margin-bottom: 0;
}

#projects .tabs {
  margin-top: 60px;
  text-align: left;
  position: relative;
  z-index: 1;
}

#projects .tab {
  height: 90px;
  width: 49%;
  text-align: center;
  line-height: 90px;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Handel Gothic D';
  color: #6F6F6F;
}

#projects .tab:hover {
  color: #003D89;
  cursor: pointer;
}

#projects .tab.active {
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #003D89;
  box-shadow: 1px -4px 13px rgb(0 0 0 / 10%);
}

#projects .table .tcol {
  width: 19%;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  color: #6F6F6F;
  text-align: center;
}

#projects .table .tcol.head {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Handel Gothic D';
  color: #003D89;
}

#projects .table .trow {
  width: 100%;
  display: inline-block;
  padding: 10px 0;
  border-top: 0;
  border-bottom: 1px solid #C3C3C3;
}

#projects .tabcontents {
  background-color: #fff;
  border-radius: 20px;
  margin-top: -20px;
  padding: 40px 60px;
  position: relative;
  z-index: 2;
}

#projects .tabcontents .content {
  display: none;
}

#projects .tabcontents .content.active {
  display: block;
}

#structvideo .right {
  padding: 80px 30px 0 30px;
}

#structvideo .right h1 {
  font-size: 65px;
  line-height: 70px;
  font-weight: bold;
    margin-bottom: 30px;
}

#structvideo .container-fluid {
  padding: 0;
}

#structvideo .row {
  margin-left: 0;
  margin-right: 0;
}

#structvideo .left {
  padding: 0;
}


@media only screen and (max-width: 1400px) {
  .cube {
    width: 500px;
  }

  #cube ul {
    top: 0;
  }

  .line-1 {
    width: 115px;
    height: 2px;
    right: -105px;
    top: 36px;
  }
  .line-2 {
    width: 2px;
    height: 75px;
  }
  .line-5 {
    width: 25px;
    right: -23px;
  }
  .line-6 {
    width: 73px;
    right: -64px;
  }
  .line-8 {
    top: -20px;
  }
  .line-9 {
    width: 105px;
    right: -103px;
    top: 0px;
  }

  #structvideo .right h1 {
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  #structvideo .right {
    padding: 30px 30px 0 30px;
  }
}

@media only screen and (max-width: 1260px) {
  .cube {
    width: 500px;
  }

  #cube ul li {
    width: 240px;
  }
  #structvideo .right, #structvideo .left {
    width: 100%;
  }

  #structvideo .right{
    padding: 50px 30px;
  }
}

@media only screen and (max-width: 991px) {

  #cube li .line {
    display: none !important;
  }

  #cube li  {
    overflow: hidden;
  }

  .cube {
    width: 500px;
  }

  #diagram {
  }

  #diagram .heading {
    font-size: 70px;
  }

  #diagram .copy {
    padding: 0;
  }

  #cube ul {
    position: relative;
    width: 50%;
    top: -30px;
  }

  #cube .left {
    float: left;
  }

  #cube .right {
    float: right;
  }

  .imgtxt .left .box {
    width: 140%;
    top: -70px;
    left: 70%;
  }
  .imgtxt .heading {
    font-size: 65px;
    line-height: 70px;
  }
}

@media only screen and (max-width: 767px) {
  .imgtxt .left .box {
    width: 500px;
    top: 0;
    left: 50%;
    margin-left: -250px;
    animation: spin 30s linear infinite;
  }
  .imgtxt .right {
    text-align: center;
    padding-top: 20px;
  }

  .imgtxt .heading {
    margin-bottom: 20px;
  }

  #cube ul li {
    width: 240px;
  }

  #cube .right li {
    float: right;
  }

  #cube .right {
    margin-top: 40px;
  }

  #design {
    overflow: hidden;
  }

  .imgtxt .right {
    padding-left: 0;
  }
  #projects .tab {
    font-size: 13px;
  }
  #projects .table .tcol {
    font-size: 10px;
    line-height: 11px;
  }
}

@media only screen and (max-width: 576px) {
  #diagram .heading {
    font-size: 50px;
    margin-bottom: 0;
  }
  #diagram p {
    font-size: 16px;
    line-height: 22px;
  }
  .imgtxt .heading {
    font-size: 45px;
    line-height: 50px;
  }
  #cube ul, #cube .left {
    width: 50% !important;
    text-align: center;
  }
  #cube .left, #cube ul li, #cube ul li span {
    width: 100%;
    text-align: center;
  }
  #cube .icon {
    height: 70px;
    width: 100%;
    margin-top: 10px;
  }

  #cube ul li {
    height: auto;
  }
  #cube .right {
    margin-top: 0;
  }
  .cube {
    width: 100%;
  }

  .imgtxt {
    padding: 30px;
  }

  #projects .tabcontents {
    padding: 40px 20px;
    margin-top: -30px;
  }

  #projects .tabcontents .content.active {
    overflow-x: scroll;
  }
  .content.active .table {
    width: 800px;
  }

  #projects .heading {
    font-size: 45px;
    line-height: 45px;
  }
  #projects .tab {
    padding-top: 20px;
    line-height: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #projects .table .tcol {
    font-size: 12px;
    line-height: 14px;
  }

  #structvideo .right h1 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
  }
}
