#structure {
  text-align: center;
  animation: animatedBackground 20s linear infinite;
  background-image: url(../img/contact/lines.png);
  background-position: -870px center;
  background-repeat: no-repeat;
}

#structure .left {
  position: relative;
  text-align: center;
}

.wrap {
  /*display: inline-block;*/
  /*max-width: 1600px;*/
}

#side {
  width: 15%;
  float: right;
}

#main {
  width: 75%;
  float: right;
}

#right div {
  position: relative;
}

#right {
  width: 8%;
  background-color: #053C88;
  float: right;
  position: relative;
  height: 100%;
}

.slick-vertical .slick-slide {
  border:0;
}

.contv {
  margin-top: 40%;
  text-align: left;
  padding:0 60px;
  display: none;
}

.contv.active {
  display: block;
}

.icon {
  height: 100%;
  width: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-color: #053C88;
}

.icon.arts {
  background-image: url('../img/structure/arts.png');
}
.icon.ceilings {
  background-image: url('../img/structure/ceilings.png');
}
.icon.doors {
  background-image: url('../img/structure/doors.png');
}
.icon.exterior {
  background-image: url('../img/structure/exterior.png');
}
.icon.cladding {
  background-image: url('../img/structure/cladding.png');
}
.icon.stairs {
  background-image: url('../img/structure/stairs.png');
}
.icon.balustrades {
  background-image: url('../img/structure/balustrades.png');
}

.icon.arts.active, .icon.arts:hover {
  background-image: url('../img/structure/arts-active.png');
}
.icon.ceilings.active,.icon.ceilings:hover  {
  background-image: url('../img/structure/ceilings-active.png');
}
.icon.doors.active,.icon.doors:hover  {
  background-image: url('../img/structure/doors-active.png');
}
.icon.exterior.active,.icon.exterior:hover  {
  background-image: url('../img/structure/exterior-active.png');
}
.icon.cladding.active,.icon.cladding:hover  {
  background-image: url('../img/structure/cladding-active.png');
}
.icon.stairs.active,.icon.stairs:hover  {
  background-image: url('../img/structure/stairs-active.png');
}
.icon.balustrades.active,.icon.balustrades:hover  {
  background-image: url('../img/structure/balustrades-active.png');
}

.slick-arrow.slick-prev {
  right: auto;
  left: -29px;
  bottom: 50px;
  background-image: url(../img/arrow-up.png);
}

.slick-arrow.slick-next {
  right: auto;
  left: -29px;
  bottom: 0;
  background-image: url(../img/arrow-down.png);
}

#right .txt {
  display: none;
  position: absolute;
  width: 120px;
  background-color: #FFFFFF;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  left: 0;
  top: 20px;
  min-height: 65px;
  vertical-align: middle;
  padding: 15px 20px;
  box-sizing: border-box;
  line-height: 18px;
  font-size: 16px;
  text-align: left;
  z-index: 1;
  color: #003D89;
  transition: left 300ms;
}

#right .itm {
  cursor: pointer;
  height: 14.2%;
}

#right .itm:hover, #right .itm.active {
  background-color: #022b64;
}

#right .itm:hover .txt, #right .itm.active .txt {
  display: block;
  left: -120px;
}

#footer {
  margin-top: -5px;
  z-index: 1;
  position: relative;
}

#structure .right {
  position: relative;
}

#side, #main {
  max-height: 78vh;
  min-height: 50vh;
  overflow: hidden;
}

@media only screen and (max-width: 1360px) {

  .contv {
    margin-top: 30%;
  }

}

@media only screen and (max-width: 1260px) {
  #right .itm {
  }

  .contv {
    margin-top: 10%;
  }

  .contv img {
    width: 60px;
  }
}

@media only screen and (max-width: 1180px) {
  #structure .left, #structure .right, #main, #side {
    width: 100%;
  }

  #right {
    width: 100%;
    height: auto;
  }

  #right .itm {
    width: 14%;
    float: left;
    height: 93px;
  }

  .txt {
    display: none !important;
  }

  #arrows {
    position: absolute;
    top: 45%;
    width: 100%;
    display: block;
    height: 50px;
  }

  .slick-arrow.slick-next {
    right: 0;
    left: auto;
    bottom: 0;
    background-image: url('../img/arrow-right.png');
  }

  .slick-arrow.slick-prev {
    left: 0;
    right: auto;
    bottom: 0;
    background-image: url('../img/arrow-left.png');
  }

  #side, #main {
    max-height: 2000px;
    min-height: 1px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 520px) {
  #right .itm {
    height: 63px;
  }

  .contv {
    padding: 0 30px;
  }
}
