@font-face {
    font-family: 'Handel Gothic';
    src: url('HandelGothic.woff2') format('woff2'),
        url('HandelGothic.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handel Gothic D';
    src: url('HandelGotD-Bold.woff2') format('woff2'),
        url('HandelGotD-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

